name: PR Tests & Benchmark

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-benchmark

      - name: Run unit tests
        run: |
          pytest tests --ignore=tests/benchmark

      - name: Run benchmark comparison
        run: |
          pytest tests/benchmark --benchmark-compare=baseline --benchmark-fail=mean:5%
